<template><el-container><el-aside><el-menu router><el-menu-item v-for="m in menus":key="m.path":index="m.path">{{m.name}}</el-menu-item></el-menu></el-aside><el-main><router-view/></el-main></el-container></template>
