@Configuration @EnableWebSecurity
public class SecurityConfig {
  @Bean SecurityFilterChain filterChain(HttpSecurity http)throws Exception{
    http.csrf().disable().authorizeHttpRequests(a->a.anyRequest().authenticated())
    .addFilter(new JwtAuthFilter()).sessionManagement(s->s.sessionCreationPolicy(SessionCreationPolicy.STATELESS));
    return http.build();
  }
}
